.home1{
    /* background:linear-gradient(rgba(20, 20, 20, 0.7),rgba(32, 31, 31, 0.7)) , url("/static/images/index1.jpg"); */
    /* height: 100%; */
    background:url("/static/images/index1.jpg");
    width: 100%;
    height: 100vh;
    
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    }
    
    .heading{
        padding-top: 180px;
        color: white;
        text-align: center;
        font-family: 'Baloo Bhai 2', cursive;
    }
    .button{
        text-align: center;
        padding-top: 10px;
    }