.container-fluid{
    /* background:linear-gradient(rgba(37, 37, 37, 0.7),rgba(10, 10, 10, 0.7)) , url('/static/images/1.jpg'); */
    background:url('/static/images/1.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
    /* font-family:sans-serif; */
    font-family: 'Baloo Bhai 2', cursive;
}


.text{
    text-align: center;
    padding: 14%;

}